In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import json
from tqdm.auto import tqdm
import re

In [ ]:
start_file_path = '/content/drive/My Drive/articles/relevant_articles'

In [ ]:
# # filepaths for each one
# apnews_filepath = f'{start_file_path}/apnews_relevant.json'
# bbc_filepath = f'{start_file_path}/bbc_relevant.json'
# cnn_filepath = f'{start_file_path}/cnn_relevant.json'
# dailymail_filepath = f'{start_file_path}/dailymail_relevant.json'
# foxnews_filepath = f'{start_file_path}/foxnews_relevant.json'
# guardian_filepath = f'{start_file_path}/guardian_relevant.json'
# hindustantimes_filepath = f'{start_file_path}/hindustantimes_relevant.json'
# independent_filepath = f'{start_file_path}/independent_relevant.json'
# india_filepath = f'{start_file_path}/india_relevant.json'
# indianexpress_filepath = f'{start_file_path}/indianexpress_relevant.json'
# nbcnews_filepath = f'{start_file_path}/nbcnews_relevant.json'
# news18_filepath = f'{start_file_path}/news18_relevant.json'
# newsweek_filepath = f'{start_file_path}/newsweek_relevant.json'
# nypost_filepath = f'{start_file_path}/nypost_relevant.json'
# usatoday_filepath = f'{start_file_path}/usatoday_relevant.json'

# filepaths = [apnews_filepath, bbc_filepath, cnn_filepath, dailymail_filepath, foxnews_filepath, guardian_filepath, hindustantimes_filepath, independent_filepath, india_filepath, indianexpress_filepath,
#              nbcnews_filepath, news18_filepath, newsweek_filepath, nypost_filepath, usatoday_filepath]

15

In [ ]:
df_articles = pd.read_pickle('/content/drive/My Drive/articles' + "/df_articles.pkl")

In [ ]:
#read in all

# df = pd.concat([pd.read_json(filepath) for filepath in filepaths])

In [ ]:
# df.columns

Index(['index', 'title', 'text', 'url', 'source_domain', 'date_published',
       'authors', 'matched_keywords', 'description', 'full_text',
       'predicted_label', 'relevant', 'level_0'],
      dtype='object')

In [ ]:
# df = df.drop(columns=['level_0', 'index', 'predicted_label', 'relevant'], axis=1).reset_index(drop=True)
# def remove_multi_newlines(text):
#    return re.sub(r'\n\s*\n+\s*', '\n', text)

# df['full_text'] = df['full_text'].map(remove_multi_newlines)

In [ ]:
# df.to_pickle(f'{start_file_path}/df_relevant_articles.pkl')

In [ ]:
df = pd.read_pickle(f'{start_file_path}/df_relevant_articles.pkl')

In [ ]:
differences = df_articles['source_domain'].value_counts() - df['source_domain'].value_counts()

# differences.sort_values(ascending=False)


percentage_relevant = df['source_domain'].value_counts() / df_articles['source_domain'].value_counts() * 100

percentage_relevant.sort_values(ascending=False)

source_domain
theguardian.com       68.037314
news18.com            60.263240
india.com             53.493976
hindustantimes.com    47.678221
cnn.com               40.040998
bbc.com               36.726157
indianexpress.com     36.692369
independent.co.uk     33.435549
apnews.com            31.967075
nbcnews.com           25.431862
nypost.com            21.952404
usatoday.com          21.744097
dailymail.co.uk       18.469743
newsweek.com          17.222222
foxnews.com           12.978959
Name: count, dtype: float64